@import "../functions";

//$link-function-factor: -20%;
//$menu-bg-hover: scale-color($secondary-color, $lightness: $link-function-factor);
$hover-speed: 0.3s;

:hover{
  -webkit-transition: background-color $hover-speed ease-out;
  -moz-transition: background-color $hover-speed ease-out;
  -o-transition: background-color $hover-speed ease-out;
  transition: background-color $hover-speed ease-out;
  -webkit-transition: color $hover-speed ease-out;
  -moz-transition: color $hover-speed ease-out;
  -o-transition: color $hover-speed ease-out;
  transition: color $hover-speed ease-out;
  // color: $secondary-color !important;
}	
h2 a{
	color: $header-font-color;
	font-size: $h2-font-size;
}
a:hover{
	 // color: $secondary-color !important;
}
h5.block-title, .view-adminpersonal h6, .label-above{
	color: $primary-color;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase !important;
	border-bottom: dotted 1px $primary-color;
}
.label-above{
  margin-bottom: $column-gutter/2;
}
.front{
	h5.block-title{
		margin-bottom: 1rem;
    margin-left: $column-gutter/2;
    margin-right: $column-gutter/2;
	}
	.more-link-wrapper{
		margin-top: 1rem;
	}
}
.inner-page{
//  border: solid #000 2px;
//  overflow: hidden;
  -moz-box-shadow: 0 0 10px #a2a2a2;
  -webkit-box-shadow: 0 0 10px #a2a2a2;
  box-shadow: 0 0 10px #a2a2a2;
}
.l-main{
//    -moz-box-shadow: 0 0 10px #a2a2a2;
//    -webkit-box-shadow: 0 0 10px #a2a2a2;
//    box-shadow: 0 0 10px #a2a2a2;
}
.l-footer, .l-footer-columns{
//    -moz-box-shadow: 0 0 10px #a2a2a2;
//    -webkit-box-shadow: 0 0 10px #a2a2a2;
//    box-shadow: 0 0 10px #a2a2a2;
}
main{
	background: #fff;	
	padding-left: $column-gutter;
}
//Kompensation för row-columns paddingen
.ds-1col{
  padding: 0 $column-gutter/2;
//  padding-right: $column-gutter/2;
}
.personal-grid h6, .views-page h1{
    margin: 0 $column-gutter/2;
}



// ----------
// söknappen
//Sökrutan\
.search-block{ 
  button.secondary, .button.secondary {
    background-color: $primary-color;
    color: #f8f8f8;
  }
  display: none;
  .row{
    border-bottom: 2px dashed $gainsboro;
    padding: 2rem 2rem 2rem 0;
    .block-custom-search-blocks{
      button.radius, .button.radius {
        border-radius: 0;
        margin: 0;
      }
      .search-form {
        margin: 0;
      }
      button, .button{
        float: left;
        padding: 0.3rem 0.6rem;
        font-size: 0.85rem;
        line-height: 1.7rem;
        width: 60px;
      }
      .form-item{
        float: left;
        margin: 0 1rem 0 0;;
        input[type="text"]{
          margin: 0;
        }
        button.secondary{
          background: $primary-color;
        }
      }
    }
  }
}
// gamla blocket
	.block-search-form{
		vertical-align: center;
		.postfix.button{
			height: 1.3rem;
			line-height: 1rem;
			margin: 0;
			padding: 0;
			font-size: 0.7rem;
			background: $primary-color;
		}	
		input[type="text"]{
			height: 1.3rem;
			line-height: 1rem;
			margin: 0;
			padding: 0;
		}
	}
.folowus{
	img{
		vertical-align: inherit;
	}
}	

#main-menu{
	ul{
		text-align: right;
		padding-bottom: 4px;
	}
	li{
		margin-left: 0.5rem;
		display: inline-block;
    font-family: $font-family-top-menu !important;
    line-height: 1.2rem;
		a{
			background: $primary-color;
			color: $white;
			padding: 3px 10px;
			text-decoration: none;
			border-radius: 20px;
			box-shadow: 1px 1px 1px $aluminum;
			font-size: 0.75rem;
			text-transform: uppercase;
			font-weight: 400;
      
		}
		a.active-trail, a.active{
			background: $secondary-color;
		}
		a:hover{
			background: $secondary-color;
//      background: $success-button-bg-hover;
//      background: $menu-bg-hover;
//      -webkit-transition: background-color 0.3s ease-out;
//      -moz-transition: background-color 0.3s ease-out;
//      -o-transition: background-color 0.3s ease-out;
//      transition: background-color 0.3s ease-out;
		}	
	}
	.inline-list > li {
			float: none;
	}
}
.logo{
	// text-align: center;
//	padding-right: $column-gutter/4;
//  padding-bottom: 12px;
  width: 300px;
}
.right-off-canvas-menu{
	
	.menu-level-1{
		padding: 1rem;
	}
	ul{
		margin: 0;
		padding: 0 $column-gutter/2;
		li{
			list-style-type: none;
			border-bottom: 1px dashed $aluminum;
			
			a{
				font-size: 0.9rem;
				
			}
			
			li{
				border: none;
				padding-left: 1rem;
				a{
					font-size: 0.8rem;
				}
				span{
					border: none;
				}
			}
			span{
				position: absolute;
				right: 1rem;
				width: 3rem;
				// border-left: 1px solid $aluminum;
				cursor: pointer;
				padding: 0rem;
				font-weight: 700;
				text-align: center;
				line-height: 3rem;
				
			}
			.klickad{
				background: $gainsboro;
			}
		}	
	}
	
	a{
		line-height: 3rem;
	}
  .block-custom-search-blocks{
    padding: $column-gutter/2;
  }
	
}
.top-meny{
	padding-bottom: 1rem;
	text-align: right;
	section{
		display: inline-block;
		padding: 0 0.5rem 0 0;
	}
  section:first-child{
    padding: 0 0.7rem 0 0;
  }
	section:last-child{
    a{
      padding: 0 0 0 0.4rem;
    }
    
	}
	.block-locale-language{
		ul{
			margin:0;
			display: block;
			padding:0;
			li{
        font-size: 0.85rem;
				display: inline-block;
				a{
          padding: 0 0.3rem;
				}
			}
			li:first-child a{
				border-right: solid 1px $primary-color;
				padding: 0 0.3rem;
			}
		}
	}
}


// Featured För galleri ========================== kolla om kan tas bort efter installation av flexslider
.l-featured{
	.block-fieldblock-node-page-full-field-galleri-bild,
	.field-name-field-bild-galleri-tjanst,
	.field-name-field-bild-galleri-projekt,
	.frontpage-view{
		position: relative;
		.image-field-caption{
			position: absolute;
			bottom: 0;
			h2,h3,h4,h5,p{
				color: white; // TMP	
			}
			
		}
		blockquote{
			border: none;
		}
	}
}

aside.sidebar-first{
	ul{
		// margin-left: 0;
		// margin-bottom: 0.5rem;
		margin: 0;
		.active, :hover{
			color: $secondary-color;
      
		}
		ul{
			padding-top: 0.4rem;
		}
		li.expanded,
		li.leaf{
			// margin-top: 0.5rem; 
			// margin-bottom: 0.5rem;
			// padding: 0.5rem 0;
		}
		li{
			list-style-type: none;
			// border-top: 1px dotted $secondary-color;
			// margin-top: 5px;
			margin-left: 0;
			padding: 0.3rem 0;
			
			li{
				border-top: none;
				margin-left: 0.9rem;	
				padding: 0.2rem 0;
			}
			li.expanded,
			li.leaf{
				// padding: 0
			}
			
		}	
		li:first-child{
				border-top: none;			
		}
		li:before{
    		// font-family: "Font Awesome 5 Free";
    		// content: "\f095";
    		font-family: "Font Awesome 5 Free"; 
    		font-weight: 900; 
    		content: "\f105";
    		padding-right: 0.4rem;
    		color: $secondary-color;
		}
	}
	
}


// ==============================================
.inner-wrap{
	header{
    padding: 1rem 0 $column-gutter 0;
	}
}
.l-main{
//	padding: $column-gutter/1.1 $column-gutter/2 $column-gutter/2 $column-gutter/2;
  padding: $column-gutter 0;
  section{
//    padding: 0 $column-gutter/2;
  }
}
// .breadcrumbs{
// 	background: none;
// 	border: none;
// }

.l-footer{
	background: $tertiariary-color;
	opacity: 0.75;
	p{
		color: $white;
		opacity: inherit;
    font-size: 12px;
	}
//	margin-bottom: 2rem !important;
	padding: $column-gutter/2;
  
	.copyright{
		text-align: center;
		color: $white;
		font-size: 10px;
	}
}

// Medarbeteare

.node-medarbetare{
  .stycke{
    margin-bottom: $column-gutter/2;
  }
  .fakta{
    border-left: dotted $secondary-color 3px;
    padding-left: 1rem;
    color: $oil;
//    margin-left: 0.5rem;
    font-size: 0.85rem;
//    line-height: 1.2rem;
      div{
        margin-bottom: 0.4rem;
      }
  }
}
//
.label-above{
  
}
// ====================== entity reference fields
ul.ep-lista{
  margin: 0 0 1em 0;
  padding: 0 0 0 1em; /* make space for li's :before */
} 
ul.views-summary{
  margin: 0;
  padding: 0;
}
ul.ep-lista, ul.views-summary{
  
  list-style: none;
  li{
    position: relative;
    padding-left: 0.4em;
    margin-bottom: 0.4rem;
    line-height: 1.4rem;
    a{
//      color:$black;
      font-size: 0.85rem;
     
    }
    a.active{
      color: $secondary-color;
    }
    a:hover{
      color: $secondary-color; 
    }
   
  }
  li:before{
    font-family: "foundation-icons";
    content: "\f121";
    position: absolute;
    left: -1em; /* same as ul padding-left */
    top: 0.1rem; /* depends on character, maybe use padding-top instead */
    /*  .... more styling, maybe set width etc ... */
    font-size: 0.8rem;
    color: $secondary-color;
  }
}
.sidebar-second{
  li{
    line-height: 1.4rem;
    a{
      font-size: 0.85rem;
    }
  }
}
// ================================ Generellt vyer================================= 
// paginering
.view-content{
	display: block;
}
.pagination-centered{
	margin-top: $column-gutter;
	display: block;
}
.field-type-entityreference, .contact{
	a{
		display: block; 
		padding: 0.3rem 0;
		// margin-left: 0.5rem;
	}
	a:before{
    	font-family: "foundation-icons";
    	content: "\f121";
    	// font-family: "Font Awesome";
    		// content: "\f095";

    	padding-right: 0.4rem;
    	color: $secondary-color; 
	}
	.field-label{
		margin-bottom: 0.3rem;
		text-transform: uppercase;
		color: $jet;
		font-size: 0.9rem;
		font-weight: 400;
	}
	// margin-bottom: 2rem;
}
// Exponerade widgets
.views-exposed-widget{
	margin-bottom: $column-gutter/2;	;
	.form-item{
		float: left;
		input[type="radio"]{
			margin:0;
			vertical-align: middle;
		}
		label{
			// color: $secondary-color;
			// line-height: 3px;
			vertical-align: top;
			font-weight: 400;
		}
	}
}
// specialvyer
.view-date{
	font-size: 0.8rem;
	color: $oil;
}
// ============================================================== //
.view-adminpersonal{
	img{
		width: 100%;
	}
	.views-row{
		width: 100%;
	}
}
.more-link-wrapper{
	display: block;
	.more-link{
		margin-left: auto;
		margin-right: auto;
		width: 130px;
    text-align: center !important;
    a{
      color: white;
    }
    
	}
	.button{
		display: block !important;
	}
}
.view-aktuellt, .view-publikationer, .view-archive{
	a{
    color: $black;
	}
  
  img{
    margin-bottom: $column-gutter/4;
  }
	@media #{$small-only} { 
		.bild{
			margin-bottom: $column-gutter/2;
		}
	}
 
	.custom-view-row{
		margin: 0;
		padding: $column-gutter 0;
		border-bottom: 1px dotted $base; 
	}
}
//Flexslider on front ===================
.frontpage-gallery{
  .gallery-bottom{
    position: relative;
    .gallery-top{
    	h1{
    		color: $white;
    	}
      position: absolute;
      bottom: 1rem;
      color: $white;
      left: 4.5rem;
      z-index: 10;
    }
  }
  .flexslider{
    background: none;
    border: none;
    margin-bottom: 0;
  }
}
// Personal personal-grid

.view-adminpersonal{
	.columns{
		a{
			color: $body-font-color;
		}
		padding-bottom: $column-gutter/2;
		h3{
			font-size: 1rem;
			margin-bottom: 0;
		  }
    img{
      margin-bottom: $column-gutter/4;
      
    }
  }
	h6{
		margin-bottom: 1.2rem;
	}
}
// DS
.ds-1col{
	.image{
		padding-bottom: $column-gutter/2;
	}
}
.sidebar-second{
	input[type="file"], input[type="checkbox"], input[type="radio"], select, input[type="text"] {
		margin: 0 ;
	}
	.views-exposed-form .views-exposed-widget .form-submit {
		margin-top: $column-gutter/2;
		margin-bottom: $column-gutter/2;
	}
}

//=======================================
// ======== TMP =======================================================================
// Anpassningar så att det ser ut som det gamla temat
// Vi designar om detta sedan när nya vyer byggs

// -------- Startsidan --------------

// Nyhetsvy (fruktansvärd taggning i vyn)
$tmp-font-size-1: 12px;
.sidebar-second{
	
	@media #{$medium-up} { 
		border-left: 1px solid $jumbo;
	}
}
@media #{$small-only} { 
	main{
		.sidebar-second{
			margin-top: $column-gutter;
		}
	}
}
.news-front{

	font-size: $tmp-font-size-1;
	.news-front-date{
		color: $aluminum;
		margin-bottom: $column-gutter/6;
	}
	.news-front-title{
		font-size: $tmp-font-size-1*1.2;

		margin-bottom: $column-gutter/6;
		a{
			color: $header-font-color;
			font-weight: 700;
		}
		h2{
			margin: 0;
		}

	}
	.news-front-body{
		p{
			font-size: $tmp-font-size-1;
			margin-bottom: $column-gutter/6;
		}

	}
	.news-front-readmore{
		margin-bottom: $column-gutter;
	}
	div{
		div{
			margin-bottom: $column-gutter;
			div{
				margin: 0;
			}
		}
			// marginalemn mellan nyheter\
			// 
		
	}
}
.front-style{ // områdes vyn på startsidan
	.views-row{
		h2{
			margin: 0;
		}
		.views-field-field-image{
			margin-bottom: $column-gutter/2;
		}
		margin-bottom: $column-gutter/2;
	}
	@media #{$medium-up} { 
		.views-row{
			width: 48%;
			float: left;
		}
	}
	@media #{$medium-only} { 
		.views-row{
			padding-right: $column-gutter/2;
		}
	}
	@media #{$small-only} { 
		.views-row{
			width: 100%;
			float: none;
		}
	}
	
}
// slider på startsidan * Se över denna
.startsidan{ 
		.views-field-body {
		position: relative;
		z-index: 200;
		padding: 51px 2px 2px 75px;
		line-height: 18px;
	}
	.views-field-field-image {
		position: absolute;
		z-index: 199;
	}
	p, h1, h2,h3{
		color: white;
		margin-bottom: 0;
	}
	h1, h2,h3{
		font-weight: 700;
		font-size: 1.8rem;
	}	
}

.l-footer-columns{

  background: white;
	// padding: $column-gutter/2 0;
 
  border-top: 1px dotted #ddd ;
//  margin-top: $column-gutter/3 !important;
  
	h3{
		color: $white;
		font-size: $tmp-font-size-1*1.3;
	}
	a{
//		color: $white;
//		font-size: $tmp-font-size-1;
	}
  img{
    width: 50% !important;
    height: auto !important;
  }
	.columns{
		padding: $column-gutter/2;
		// padding-right: 0;
		// padding-bottom:
	}
	
	@media #{$medium-up} { 
		.columns:first-child{
		padding-left: $column-gutter;
	}
		.columns:last-child{
			padding-right: $column-gutter;
		}
	}
	
	@media #{$small-only} { 
		
	}
}

.views-field-view-node a,
.news-front-readmore a{
	color: $secondary-color;
	font-size: $tmp-font-size-1;
}
// Personalsidan\
.personal-grid{
	font-size: $paragraph-font-size*0.9;
	.views-field-field-image{
		margin-bottom: $column-gutter/3;
	}
	.views-row{
		margin-bottom: $column-gutter;
	}
	h3{
		a{
			color: $body-font-color;
		}
		font-weight: 700;
	}
	@media #{$medium-up} { 
		// .views-row{
		// 	width: 25%;
		// 	float: left;
		// }
	}
	@media #{$medium-only} { 
		// .views-row{
		// 	padding-right: $column-gutter/2;
		// 	// width: 50%;
		// 	// float: left;
		// }
	}
	@media #{$small-only} { 
		// .views-row{
		// 	width: 100%;
		// 	float: none;
		// }
	}
	

}

.content-above{
	margin-bottom: $column-gutter;
}
// Tjänstesidan MYCKET TILLFÄLLIGT INSTALLEA DS ISTÄLLET
.field-name-field-entity-kontaktperson{
		a{
			display: block;
		}
	}

a{
//	font-size: $tmp-font-size-1;

}

// ==========================
//Ikooner i header
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?pdxtp');
  src:  url('../fonts/icomoon/icomoon.eot?pdxtp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?pdxtp') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?pdxtp') format('woff'),
    url('../fonts/icomoon/icomoon.svg?pdxtp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.epikon {
  /* use !imp ortant to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1rem;
//  color: $aluminum; 
  color: $primary-color;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.epikon:hover{
  color: $black;
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-magnifying-glass:before {
  content: "\e900";
}

//=================== Vyer ===========================

.view{
  .view-content{
    .columns:first-child{
//      padding-left: 0;
    }
    .columns:last-child{
//      padding-right: 0;
    }
  }
}

.sidebar-first.columns{
  padding-left: $column-gutter !important;
}

// ======= Spacialknappar =======
#kontakt-knapp{
  background: $primary-color;
  color: white;
  padding: 4px 18px;
  border-radius: 3px;
}
#kontakt-knapp:hover{
  background: $secondary-color;
}
#kontakt-knapp:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  padding-right: 0.4rem;
  color: white;
}
//Flex-slider
.flex-direction-nav a{
  overflow: inherit;
}
//hacks
.node-type-webform{
  .columns{
    padding: 0 $column-gutter;
  }
}
//======
